*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  overflow: scroll;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 19, 19);
}

.navbar {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: goldenrod 2px solid
}

.nav-left, .nav-right {
  padding: 10px;
}

.crud-btn {
  color: black;
  background-color: rgb(212, 177, 86);
  padding: 5px;
  border: none;
  border-radius: 2px;
  margin: 0 1px 0 5px;
}

tr {
  border-bottom: 1px white solid;
  margin-top: 5px;
  height: 20px;
}

.table-btn {
  margin: 0 1px 0 5px;
}

.bg-container, .prompt-container {
  position: absolute;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(19, 19, 19, 0.544);
}

.form-container, .prompt {
  display: grid;
  place-content: center;
  height: 320px;
  width: 300px;
  background-color: rgba(19, 19, 19);
  border-radius: 7px;
  border: rgb(212, 177, 86) 1px solid ;
  z-index: 1;
}

.outside {
  position: absolute;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.text-error {
  color: rgb(255, 136, 136);
}

.display-none {
  display: none;
}

table {
  border: 1px gray solid;
  border-radius: 7px;
}

thead{
  border-bottom: 1px gray solid;
  background-color: darkgrey;
}

td {
  border-bottom: 1px gray solid;
  padding: 7px;
  width: min-content
}

tr:last-child > td {
  border-bottom: none;
}

tr > td:last-child {
  display: flex;
  place-content: center;
}

.form-btn {
  padding: 5px
}

.prompt {
  padding: 20px
}
